<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待回答咨询</title>
     <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/ui-dialog.css">
    <script src="js/av-mini-0.6.1.js"></script>
	<script src="js/leancloud.js"></script>
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
    <!--头部公共 end-->
    <script src="js/waiting.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="css/answer.css"/>
    
    <style>
        th,td{text-align: center}
    </style>
</head>
<body>
<table id="member_list" class="table table-hover table-striped">
    <caption style="text-align: center;font-size: 22px">
        待回答咨询
    </caption>
    <thead>
    <tr>
        <th>会员</th>
        <th>事项</th>
        <th>咨询内容</th>
        <th>最新补充内容</th>
         <th>回答时效(剩余小时)</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody id="table-body">
		
    </tbody>
</table>
</body>
</html>