<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的收入</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <style>
        .title{text-align: center;font-size: 22px;margin-bottom:10px}
        em{font-style: normal;
            color: orange;
        }
        .col-sm-12{margin:6px}
    </style>

</head>
<body>
<div class="container">
    <div class="title">
        我的收入
    </div>
    <div class="row">
        <div class="col-sm-12">您好，尊敬的 <em>曹大立</em> 医生</div>
        <div class="col-sm-12">您当前在ARS管理的会员有 <em>135</em> 名</div>
        <div class="col-sm-12">其中旗舰版会员 <em>96</em> 名，高级版会员 <em>39</em> 名，标准版会员 <em>0</em> 名</div>
        <div class="col-sm-12">按照目前您所管理的会员数量，截止到 <em>今年</em>12月31日，您在ARS的会员管理费收入至少为 <em>107000</em> 元；</div>
        <div class="col-sm-12">按照目前您所管理的会员数量，截止到 <em>明年</em>12月31日，您在ARS的会员管理费收入至少为 <em>242500</em> 元；</div>
        <div class="col-sm-12">截止到2016年6月25日，您在ARS的其他增值服务收入为 <em>10650</em> 元。</div>
    </div>
</div>
</body>
</html>