<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/ui-dialog.css">
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/dialog-plus-min.js"></script>
    <script type="text/javascript" src="../../js/data/index.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/default.css" />
    <link rel="stylesheet" type="text/css" href="../../css/component.css" />
    <script src="../../js/modernizr.custom.js"></script>
    <style>
        a:link{
            text-decoration:none;
        }
        a:visited{
            text-decoration:none;
        }
        a:hover{
            text-decoration:none;
        }
        a:active{
            text-decoration:none;
        }
    </style>
</head>
<body>
<section>
    <h3 style="text-align: center">日程详情</h3>
    <div class="main">
        <ul class="cbp_tmtimeline">
            <li>
                <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>4/10/13</span> <span>18:30</span></time>
                <div class="cbp_tmicon cbp_tmicon-earth"></div>
                <a href="javascript:iframeTarget('view/member/schedules_detail.html')"><div class="cbp_tmlabel">
                    <h2>这是一个日程</h2>
                    <p>11</p>
                </div></a>
            </li>
            <li>
                <time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>4/11/13</span> <span>12:04</span></time>
                <a href="javascript:iframeTarget('view/member/schedules_detail.html')"><div class="cbp_tmlabel">
                    <h2>这是一个日程</h2>
                    <p>11</p>
                </div></a>
            </li>
            <li>
                <time class="cbp_tmtime" datetime="2013-04-13 05:36"><span>4/13/13</span> <span>05:36</span></time>
                <a href="javascript:iframeTarget('view/member/schedules_detail.html')"><div class="cbp_tmlabel">
                    <h2>这是一个日程</h2>
                    <p>11</p>
                </div></a>
            </li>
            <li>
                <time class="cbp_tmtime" datetime="2013-04-15 13:15"><span>4/15/13</span> <span>13:15</span></time>
                <a href="javascript:iframeTarget('view/member/schedules_detail.html')"><div class="cbp_tmlabel">
                    <h2>这是一个日程</h2>
                    <p>11</p>
                </div></a> 
            </li>
            <li>
                <time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>4/16/13</span> <span>21:30</span></time>
                <a href="javascript:iframeTarget('view/member/schedules_detail.html')"><div class="cbp_tmlabel">
                    <h2>这是一个日程</h2>
                    <p>11</p>
                </div></a>
            </li>
            <li>
                <time class="cbp_tmtime" datetime="2013-04-17 12:11"><span>4/17/13</span> <span>12:11</span></time>
                <a href="javascript:iframeTarget('view/member/schedules_detail.html')"><div class="cbp_tmlabel">
                    <h2>这是一个日程</h2>
                    <p>11</p>
                </div></a>
            </li>
            <li>
                <time class="cbp_tmtime" datetime="2013-04-18 09:56"><span>4/18/13</span> <span>09:56</span></time>
                <a href="javascript:iframeTarget('view/member/schedules_detail.html')"><div class="cbp_tmlabel">
                    <h2>这是一个日程</h2>
                    <p>11</p>
                </div></a>
            </li>
        </ul>
    </div>
</section>
</body>
</html>