<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>会员详情</title>

		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/common.css">
		<link rel="stylesheet" href="../../css/ui-dialog.css">
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/dialog-plus-min.js"></script>
		<script type="text/javascript" src="../../js/data/index.js"></script>
		<script src="js/av-mini-0.6.1.js"></script>
		<script src="js/leancloud.js"></script>
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/main.js" type="text/javascript" charset="utf-8"></script>

		<!--头部公共 end-->
		
		<script src="js/memberDetail.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/member.css"/>
	</head>

	<body>
		<h2 class="sub-header">会员详情</h2>
		<div class="table-responsive">
			<table id="orderTable" class="table table-striped">
				<tr>
					<th>姓名</th>
					<td id="Name">13</td>
					<th>等级</th>
					<td id="Leval">13</td>
				</tr>
				<tr>
					<th>加入时间</th>
					<td id="JoinTime"></td>
					<th>诊断病情</th>
					<td id="Disease"></td>
				</tr>
				<tr>
					<th> 所在城市</th>
					<td id="City"></td>
					<th>会员满意度</th>
					<td id="Satisfaction"></td>
				</tr> 
				
				<tr>
					<th>活跃度</th>
					<td id="Activeness"></td>
					<th></th>
					<td ></td>
				</tr>
				<tr>
					<th></th>
					<td></td>
				</tr>
			</table>

		</div>
		<div class="table-responsive" style="margin-top:0">
			<table id="orderDetail" class="table table-striped">
				<thead>
					<tr>
						<th>就诊记录</th>
					</tr>
					<tr>
						<th>医生姓名</th>
						<th>就诊类型</th>
						<th>就诊时间</th>
						<th>就诊医院名</th>
						<th>医生诊断</th>
						<th>医生嘱咐</th>
						<th>状态</th>
						<th>相关档案</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="table-body">
				<!--	<tr>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
					</tr>
-->				</tbody>
			</table>
		</div>
		<!--描述：弹出div 编辑窗口 -->
		<div id="edit_div" class="edit_div">
			
			<div class="typeName relative" >
				<div id="typeName"></div>
				<!--名称-->
				<div class="my_close"><a  href="javascript:close()" >关闭</a></div>
			</div>
			
			<div class="content">
				<div id="reportImg">
					<!--图片-->
				</div>
			</div>
		</div><!--edit_div end-->
		
	</body>

</html>