<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/ui-dialog.css">
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/dialog-plus-min.js"></script>
    <script type="text/javascript" src="../../js/data/index.js"></script>
    <script src="js/av-mini-0.6.1.js"></script>
	<script src="js/leancloud.js"></script>
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
    <!--头部公共 end-->
    <script src="js/memberList.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<section id="list">
    <table id="member_list" class="table table-hover table-striped">
        <caption style="text-align: center;font-size: 22px">
            会员列表
        </caption>
        <thead>
        <tr>
            <td colspan="10">会员等级：<select><option>查看所有</option></select>&nbsp;&nbsp;&nbsp;&nbsp;
                诊断病情：<select><option>查看所有</option><option>肠化生</option><option>异型增生</option><option>早期胃癌</option><option>慢性乙肝</option><option>肝硬化</option><option>肝硬化失代偿期</option><option>肝癌</option></select>&nbsp;&nbsp;&nbsp;&nbsp;
                满意度：<select><option>查看所有</option><option>一星</option><option>两星</option><option>三星</option><option>四星</option><option>五星</option></select></td>
        </tr>
        <tr>
            <th>头像</th>、
            <th>姓名</th>
            <th>等级</th>
            <th>加入时间</th>
            <th>诊断病情</th>
            <th>城市</th>
            <th>最近复诊</th>
            <th>最近随访</th>
            <th>最近续药</th>
            <th>满意度</th>
            <th>活跃度</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="table-body">
            <!--<tr>
            	<td><img src="../../images/check.png" width="30px"></td>
            	<td>张三</td>
            	<td><img src="../../images/check.png" width="15px">标准版</td>
            	<td>test</td>
            	<td>test</td>
            	<td>test</td>
            	<td>test</td>
            	<td>test</td>
            	<td>test</td>
            	<td>test</td>
            	<td>test</td>
            	<td><a href="javascript:;">新建预约</a>|<a href="javascript:;">医嘱推送</a>|<a href="javascript:;">查看历史日程</a></td>
            </tr>-->
        </tbody>
    </table>
</section>
<script>
  /*  $('#list tbody tr').click(function () {
        iframeTarget("view/member/schedule.html");
    })
    $('#list tbody tr a').unbind('click').click(function () {
        return false;
    })*/
</script>
</body>
</html>