<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工单详情</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">

    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/layer/layer.js"></script>
    <script src="../../js/av-mini-0.6.1.js"></script>
    <script src="../../js/leancloud.js"></script>
    
    <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="css/order.css" />
    <script src="js/visit.js"></script>
   
 
</head>
<body>
<h2 class="sub-header" style="width: 100%;display: block;">
   去电回访<span id="buts" style="text-align: right;margin-left: 200px;"></span>
</h2>
<div class="table-responsive">
    <table id="orderTable" class="table table-striped">
        <tr>
            <th>来电者姓名</th>
            <td id="MemberName"></td>
            <th>联系电话</th>
            <td id="PhoneNo"></td>
        </tr>
        <tr>
            <th>所患病症</th>
            <td id="Disease"></td>
            <th>接单销售员</th>
            <td id="Saleman"></td>
        </tr>
         <tr>
            <th>客服意见和备注</th>
            <td id="Memo"></td>
            <th>状态</th>
            <td id="Statu"></td>
        </tr>
        <tr>
            <th>部门处理结果</th>
            <td id="ResultByDepartment"></td>
            <th>客服回访结果</th>
            <td>
            	<textarea id="CallbackResult" name="" rows="" cols="" style="width: 300px;" placeholder="备注"></textarea>
            </td>
        </tr>
       
       
    </table>
    <div style="text-align: center;">
    	<input type="button" class="btn btn-primary" name="" id="" value="保存" onclick="save()" style="margin-left: 10px;"/>
   		<input type="button" class="btn btn-danger" name="" id="" value="返回" onclick="back()" style="margin-left: 10px;"/>
    </div>
</div>
</body>
</html>