<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/ui-dialog.css">
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/dialog-plus-min.js"></script>
    <script type="text/javascript" src="../../js/data/index.js"></script>
</head>
<body>
<section id="list">
    <table id="member_list" class="table table-hover table-striped">
        <caption style="text-align: center;font-size: 22px">
            待回答咨询
        </caption>
        <thead>
        <tr>
            <td colspan="10">会员等级：<select><option>查看所有</option></select>&nbsp;&nbsp;&nbsp;&nbsp;
        </tr>
        <tr>
            <th>名字</th><th>等级</th><th>咨询内容</th><th>咨询时间</th><th>剩余时效</th><th>回复</th>
        </tr>
        </thead>
        <tbody>
        <tr><td>test</td><td>test</td><td>test</td><td>test</td><td>test</td><td><a href="javascript:showbox();">回复</a></td></tr>
        <tr><td>test</td><td>test</td><td>test</td><td>test</td><td>test</td><td><a href="javascript:showbox();">回复</a></td></tr>
        <tr><td>test</td><td>test</td><td>test</td><td>test</td><td>test</td><td><a href="javascript:showbox();">回复</a></td></tr>
        <tr><td>test</td><td>test</td><td>test</td><td>test</td><td>test</td><td><a href="javascript:showbox();">回复</a></td></tr>

        </tbody>
    </table>
</section>
<script>
    function showbox() {
        var d = dialog({
            title: '回答咨询',
            content: '<form class="form-horizontal" onsubmit="return ajax()" style="max-height: 600px;">\
                <div class="form-group">\
                <label class="col-sm-6">名字：</label>\
                <label class="col-sm-6">王小二</label>\
                </div>\
                <div class="form-group">\
                <label class="col-sm-6">等级：</label>\
                <label class="col-sm-6">基础版</label>\
                </div>\
                <div class="form-group">\
                <label class="col-sm-6">咨询内容：</label>\
                <label class="col-sm-6">巴拉巴拉巴拉</label>\
                </div>\
                <div class="form-group">\
                <label class="col-sm-6">咨询时间：</label>\
                <label class="col-sm-6">2016-06-15 9:00</label>\
                </div>\
                <div class="form-group">\
                <label class="col-sm-6">剩余时效：</label>\
                <label class="col-sm-6">6小时51分钟</label>\
                </div>\
                <div class="form-group">\
                <label for="name1" class="col-sm-12">回复：</label>\
                <div class="col-sm-12">\
                        <textarea rows="5" class="form-control" placeholder="这里填写回复的内容..."></textarea>\
                        </div>\
                </div>\
                <div class="form-group">\
                        <div class="col-sm-offset-2 col-sm-10">\
                        <button type="submit" onclick="" class="btn btn-success">保存</button>\
                <button type="button" onclick="javascript:location.reload();" class="btn btn-danger">取消</button>\
                </div>\
                </div>\
            </form>'
        });
        d.showModal();
    }
    function ajax(){
        return false;
    }
</script>
</body>
</html>