<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<title>关注者统计</title>
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/common.css">
		<link rel="stylesheet" href="../../css/main.css">
		<link rel="stylesheet" type="text/css" href="css/member.css" />
		<link rel="stylesheet" type="text/css" href="css/memberList.css" />

		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/layer/layer.js"></script>
		<script src="../../js/av-mini-0.6.1.js"></script>
		<script src="../../js/leancloud.js"></script>
		<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="../../css/DateTimePicker.css" />
		<script src="../../js/DateTimePicker.js"></script>
		<script src="../member/js/CToPY.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/CountFollowMemberList.js" type="text/javascript" charset="utf-8"></script>
		
		<script type="text/javascript">
			$(document).ready(function() {
				$("#dtBox").DateTimePicker({
					dateFormat: "yyyy-mm-dd"
				});
			});
		</script>
	</head>

	<body>
		<section id="list">
			<table id="member_list " class="table table-hover table-striped">
				<caption>关注者统计(医生推荐)</caption>
				<thead>
					<tr>
						<td colspan="10" class="search-select">
							<div class="member_search_input">
								<input type="text" id="memberName" placeholder="医生名称" list="memberList">
								<datalist id="memberList"></datalist>
								<ul class="member_list_by_py"></ul>
							</div>
							<select id="search-Hospital">
								<option value="all">所有医院</option>
							</select>
							<input id="timeStart" type="text" class="search-input" name="" data-field="date" placeholder="开始时间" readonly/>
							<input id="timeEnd" type="text" class="search-input" data-field="date" placeholder="结束时间" readonly />
							<input id="searchBtn" type="button" class="btn btn-primary" value="查询" onclick="Search()" />
							<input type="button" class="btn btn-danger" value="显示全部" onclick="reload()" />
						</td>
					</tr>
					<tr>
						<th>姓名</th>
						<th>电话</th>
						<th>推荐医生</th>
						<th>所属医院</th>
						<th>医生电话</th>
						<th>专属客服姓名</th>
						<th>关注时间</th>
					</tr>
				</thead>
				<tbody id="table-body" class="tablebtn">
					<tr>
						<td class="null-td" colspan="8">暂无记录</td>
					</tr>
				</tbody>
			</table>
			<div id="dtBox"></div>
			<div id="showTime"></div>
		</section>
		<div class="page-div">
			<div class="page float-rt">
				<table class="page-table" border="0" cellspacing="" cellpadding="">
					<tr>
						<td>
							<a class="btn btn-primary" href="javascript:pageChange('index')">首页</a>
						</td>
						<td>
							<a class="btn btn-primary" href="javascript:pageChange('pastpage')">上一页</a>
						</td>
						<td>
							<a class="btn btn-primary" href="javascript:pageChange('nextpage')">下一页</a>
						</td>
						<td>
							<a class="btn btn-primary" href="javascript:pageChange('end')">末页</a>
						</td>
						<td>第<strong id="now"><!--1--></strong>页</td>
						<td>总共<strong id="totle">0</strong>页<strong id="maincount">0</strong>条数据</td>
					</tr>
				</table>
			</div>
		</div>
	</body>

</html>