<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>就诊记录详情</title>

    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/ui-dialog.css">
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/layer/layer.js"></script>
    <script src="../../js/av-mini-0.6.1.js"></script>
    <script src="../../js/leancloud.js"></script>
    <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
    <!--头部公共 end-->
    <script src="js/memberMRDetail.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="css/member.css"/>

    <!--图片器查看引用文件-->
    <!--<link rel="stylesheet" type="text/css" href="jQueryImgSeeFile/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="jQueryImgSeeFile/css/default.css">
    <link rel="stylesheet" href="jQueryImgSeeFile/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="jQueryImgSeeFile/dist/viewer.css">
    <link rel="stylesheet" href="jQueryImgSeeFile/css/main.css">-->
    <style>
        .d-list-li{

        }
    </style>
</head>

<body style="padding: 0px 20px 10px 20px">
<h2 class="sub-header">就诊记录详情</h2>
<div class="table-responsive">
    <table id="orderTable" class="table table-striped" style="margin-bottom: 10px;">
        <tr>
            <th>医生姓名</th>
            <td id="DoctorName"></td>
            <th>就诊类型</th>
            <td id="eventType"></td>
        </tr>
        <tr>
            <th>就诊时间</th>
            <td id="MedicalTime"></td>
            <th>就诊医院名</th>
            <td id="Hospital"></td>
        </tr>
        <tr>
            <th>主诉</th>
            <td id="ChiefComplaint" class="my-td-01"></td>
            <th>现病史</th>
            <td id="HPC" class="my-td-01"></td>
        </tr>
        <tr>
            <th>医生诊断</th>
            <td id="MedicalResult" class="my-td-01"></td>
            <th>医生嘱咐</th>
            <td id="MedicalAdvice" class="my-td-01"></td>
        </tr>

        <tr>
            <th>状态</th>
            <td id="Statu"></td>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td></td>
        </tr>
    </table>

</div>
<div class="table-responsive" style="margin-top:0">
    <div style="font-size: 20px;">相关档案</div>
    <div class="d-ul">
        <ul id="d-list" class="docs-pictures">
            <!--<li class="d-list-li col-md-4">
                <a class='d-list-a' href="#">
                    <div class="d-img relative">
                        <img src="http://ac-to0nyg7v.clouddn.com/c04a5eaa05db863bba73.png"/>
                        <span class="text-center a-span d-text">血常规</span>
                    </div>
                </a>
            </li>-->
        </ul>
    </div>
</div>
<div><input type="button" class="btn btn-danger subButton" name="" id="" value="返回"
            style="margin-left: 5px;margin-bottom: 20px;" onclick="backToMemberDetail()"/></div>
<!--图片查看引用 Scripts -->
<!--<script src="jQueryImgSeeFile/assets/js/jquery.min.js"></script>
<script src="jQueryImgSeeFile/assets/js/bootstrap.min.js"></script>
<script src="jQueryImgSeeFile/dist/viewer.js"></script>
<script src="jQueryImgSeeFile/assets/js/main.js"></script>-->
</body>

</html>