<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/ui-dialog.css">
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/dialog-plus-min.js"></script>
</head>
<body>
<section id="list">
    <table id="detail_list" class="table table-hover table-striped">
        <caption style="text-align: center;font-size: 22px">
            日程会员详情
        </caption>
        <thead>
        <tr>
            <th>类型</th><th>日期</th><th>科室</th><th>医生</th><th>诊断结论</th><th>满意度</th><th>活跃度</th>
        </tr>
        </thead>
        <tbody>
        <tr><td>复诊</td><td>test</td><td>消化科门诊</td><td>test</td><td>慢性乙肝</td><td>test</td><td>test</td></tr>
        </tbody>
    </table>
    <table id="picture_list" class="table table-hover text-center">
        <caption style="text-align: center;font-size: 22px">
            相关档案原始图片
        </caption>
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><div style="background: #0c89ff;width: 200px;height: 200px;margin: 0 auto">图片一</div><p>血糖正常值</p></td>
            <td><div style="background: #f0ad4e;width: 200px;height: 200px;margin: 0 auto">图片二</div><p>尿常规化验</p></td>
            <td><div style="background: #777777;width: 200px;height: 200px;margin: 0 auto">图片三</div><p>乙肝三对</p></td>
            <td><div style="background: #67b168;width: 200px;height: 200px;margin: 0 auto">图片四</div><p>病理报告</p></td>
        </tr>
        </tbody>
    </table>
    <table id="data_list" class="table table-hover table-striped">
        <caption style="text-align: center;font-size: 22px">
            档案量化数据
        </caption>
        <thead>
        <tr><th colspan="4">诊疗项目：血糖</th></tr>
        <tr>
            <th>项目</th><th>结果</th><th>参考值</th><th>单位</th>
        </tr>
        </thead>
        <tbody>
        <tr><td>血糖</td><td>5.07</td><td>3.9-6.1</td><td>mmol/L</td></tr>
        <tr><td>血糖溶血指数(HEM)</td><td>N</td><td></td><td></td></tr>
        <tr><td>血清脂血指数(LIP)</td><td>N</td><td></td><td></td></tr>
        <tr><td>标本状态</td><td>合格</td><td></td><td></td></tr>
        </tbody>
        <tfoot style="text-align: right">
        <tr><td colspan="4">报告日期：2016-04-08 09:10</td></tr>
        </tfoot>
    </table>
</section>
</body>
</html>